# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# build cache / artifacts
/.xmake
*.o
*.obj
*.d
*.su
*.tmp
*.elf
*.bin
*.hex
*.map
*.lst
